<h1>{{name}}</h1>
<p>{{info}}</p>
<ul>
    <li>{{list1}}</li>
    <li>{{list2}}</li>
    <li>{{list3}}</li>
    <li>{{list4}}</li>
</ul>
<img src="/images/{{pic}}" alt="image">
<img src="/images/{{pic2}}" alt="image2">
<img src="/images/{{pic3}}" alt="image3">
<img src="/images/{{pic4}}" alt="image4">